.body{
   background-color: #FAF2DA;
}

.titulo{
   font-size: 25px;
   font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;

}
.btn{
   font-family: "Righteous", sans-serif;
  font-weight: 400;
   font-size: 17px;
   font-style: normal;
}


